body,html{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
}
.myinfor{
    position: relative;
}
.myinfor h2,.myinfor h3{
    position: absolute;
    right: 160px;
    top: 50px;
}
.myinfor h3{
    top: 110px;
    right: 184px;
    font-size: 25px;
}
.container{
    width: 960px;
    margin: 0 auto;
}
.container .title{
    text-align: center;
    margin-top: 5px;
}
.floor_one{
    width: 100%;
    height: 34px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
    border-radius: 10px;
    background-color: rgb(0,128,128);
}
.floor_one_infor p{
    margin-top: 15px;
}
.skill p{
    position: relative;
    padding-left: 26px;
}
.skill p:after{
    content: attr(data-index);
    position: absolute;
    top: 0;
    left: 0;
}
.container_img{
    font-size: 0;
    width: 100%;
}
.container_img img{
    display: inline-block;
    width: 25%;
}
iframe{
    display: block;
    margin: 20px auto;
    width: 375px;
    height: 667px;
    verflow-y:hidden; overflow-x:hidden;
}
#view body,iframe body{
    overflow-y: hidden;
    visibility:collapse !important;
}
.view{
    position: relative;
}
.view h2{
    width: 100%;
    text-align: center;
}
.view .fade{
    position: absolute;
    right: 50%;
    margin-right: -188px;
    top: 0;
    height: 720px;
    width: 17px;
    background-color: #F9F9F9;
}