*{ margin:0; padding:0;}
.Tanabata_flip{font-size: 0}
.Tanabata_flip li,.front, .back{border-radius: 100%; overflow: hidden;}
ul,li{ list-style:none; margin:0; padding:0; }
.brandsShow{ width:1200px; height:620px; margin:0 auto; }
.brandsShow ul{ margin-left:-20px; width:100%; height:auto; }
.brandsShow ul li{ display:inline-block; width:25%; height:283px; }
.flip-container {perspective: 1000;-webkit-perspective: 1000px; /*父类容器中 perspective 子类允许透视*/-moz-perspective: 1000px;-ms-perspective: 1000px;-o-perspective: 1000px;perspective: 1000px;margin:0px auto;float:left;margin-bottom:20px;box-sizing: border-box;margin-left: 40px;}
.flip-container .hover .back {transform: rotateY(0deg); -webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-ms-transform: rotateY(0deg);-o-transform: rotateY(0deg); z-index:2;}
.flip-container .hover .front { transform: rotateY(180deg);-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-ms-transform: rotateY(180deg);-o-transform: rotateY(180deg); z-index:1}
.flip-container, .front, .back {width: 20%;height: 220px;}
.front, .back {width: 100%;position: relative;}
.flipper {transition:transform 0.6s ease-out;
transition: transform .5s ease-in-out;
-webkit-transition: transform .5s ease-in-out;
-moz-transition: transform .5s ease-in-out;
-ms-transition: transform .5s ease-in-out;
-o-transition: transform .5s ease-in-out;
-webkit-transform-style: preserve-3d; /*使其子类变换后得以保留 3d转换后的位置*/
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
display:block;position: relative;}
.front, .back {backface-visibility: hidden;transition: 0.6s ease-out;-webkit-transition: .6s ease-out; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d;-o-transform-style: preserve-3d;transform-style: preserve-3d;position: absolute;top: 0;left: 0;}
.front img, .back img{width: 220px;height: 220px;overflow:hidden;}
.front {z-index: 2;transform: rotateY(0deg);transform: rotateY(0deg); -webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-ms-transform: rotateY(0deg);-o-transform: rotateY(0deg);}
.back { z-index:1;transform: rotateY(-180deg);transform: rotateY(-180deg);-webkit-transform: rotateY(-180deg);-moz-transform: rotateY(-180deg);
-ms-transform: rotateY(-180deg);-o-transform: rotateY(-180deg);}
.front{
	background: url(../image/front_bg.png) no-repeat center;
	background-size: contain;
}
.Circle_1{
	background: url(../image/Circle_1.png) no-repeat center;
	background-size: contain;
}
.Circle_2{
	background: url(../image/Circle_2.png) no-repeat center;
	background-size: contain;
}
.Circle_3{
	background: url(../image/Circle_3.png) no-repeat center;
	background-size: contain;
}
.Circle_4{
	background: url(../image/Circle_4.png) no-repeat center;
	background-size: contain;
}
.Circle_5{
	background: url(../image/Circle_5.png) no-repeat center;
	background-size: contain;
}
.Circle_6{
	background: url(../image/Circle_6.png) no-repeat center;
	background-size: contain;
}
.Circle_7{
	background: url(../image/Circle_7.png) no-repeat center;
	background-size: contain;
}
.back_note{
	position: absolute;
	bottom: 37px;
	width: 220px;
	text-align: center;
	font-size: 14px;
	color: #fdffe0;
	background-color: rgba(236,10,10,0.5);
}
.Tanabata_flip_row2 li{
	margin-left: 110px;
}
.wrap {background: #d93054;}
.dowebok { width: 100%; height: 543px; margin: 0 auto; line-height: 30px;}
.dowebok li {height: 20px;width: 600px; overflow: hidden; zoom: 1; font-size: 0}
.dowebok a { color: #333; text-decoration: none;}
.dowebok a:hover { color: #000;}
.dowebok li span{
	font-size: 14px;
	display: inline-block;
	height: 20px;
	width: 25%;
	line-height: 20px;
	text-align: center;
	color: #fff9a1
}